<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kingdom.dao.ConsultantMapper">

    <sql id="insertFields">
        phonenumber,email,activationcode,avatar,description,departmentid,positionid,password,passwordsalt,paypassword,paypasswordsalt,name.idnumber,createtime,status
    </sql>

    <insert id="insertConsultant" parameterType="com.kingdom.pojo.Consultant">
        insert into consultant (email,activationCode,avatar,description,password,passwordSalt,createTime,status)
        values (#{email},#{activationcode},#{avatar},#{description},#{password},#{passwordsalt},#{createtime},#{status})
    </insert>

    <select id="selectByPhoneNumber" resultType="com.kingdom.pojo.Consultant">
        select *
        from consultant
        where phoneNumber=#{phonenumber}
    </select>

    <select id="selectByEmail" resultType="com.kingdom.pojo.Consultant">
        select *
        from consultant
        where email=#{email}
    </select>

    <update id="updateAvatar">
        update consultant set avatar = #{avatarUrl} where consultantId=#{consultantId}
    </update>


    <select id="selectById" resultType="com.kingdom.pojo.Consultant">
        select *
        from consultant
        where consultantId=#{consultantId}
    </select>

    <update id="updateNameAndId">
        update consultant set name=#{name},idNumber=#{idNumber} where consultantId=#{consultantId}
    </update>

    <update id="updatePayPassword">
        update consultant set payPassword=#{payPassword},payPasswordSalt=#{payPasswordSalt} where consultantId=#{consultantId}
    </update>

    <insert id="insertRecord" parameterType="com.kingdom.pojo.ConsultantRecord">
        insert into consultant_record (orderId,signAccountId,productName,type,code,propertyName,amount,sum,submitTime,updatedTime)
        values (#{orderid},#{signaccountid},#{productname},#{type},#{code},#{propertyname},#{amount},#{sum},#{submittime},#{updatedtime})
    </insert>

    <select id="loadRecord" resultType="com.kingdom.pojo.ConsultantRecord">
        select * from consultant_record where orderId=#{orderId}
    </select>

    <select id="selectSignAccountByProductId" resultType="com.kingdom.pojo.SignAccount">
        select * from sign_account where productId=#{productId}
    </select>

    <select id="selectCountsByStatus" resultType="java.lang.Integer">
        select count(*) from `order` where consultantId=#{consultantId} and status=#{status}
    </select>
</mapper>