<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kingdom.dao.ProductMapper">


    <select id="selectProductById" parameterType="java.lang.Integer" resultType="com.kingdom.pojo.Product">
        select
        *
        from `product`
        where productId = #{productid,jdbcType=INTEGER}
    </select>

    <select id="selectProductAll" resultType="com.kingdom.pojo.Product">
        select
        *
        from `product`
    </select>

    <select id="selectAlternateRuleAll" resultType="com.kingdom.pojo.AlternateRule">
        select
        *
        from `alternate_rule`
    </select>


    <select id="selectStockAlternateAll" resultType="com.kingdom.pojo.StockAlternate">
        select
        stockAlternateId,
        stockType,
        name,
        code,
        riskType,
        prevClose,
        upAndDown,
        open,
        peRatio
        from `stock_alternate`
    </select>

    <select id="selectFundAlternateAll" resultType="com.kingdom.pojo.FundAlternate">
        select
        fundAlternateId,
        fundType,
        name,
        code,
        riskType,
        prevClose,
        upAndDown,
        open,
        peRatio
        from `fund_alternate`
    </select>

</mapper>