<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kingdom.dao.PropertyMapper">
    <insert id="insertProperty">
        insert into property (propertyId,userId,signAccountId,orderId,type,code,propertyName,amount,updateTime,status)
        values (#{propertyid},#{userid},#{signaccountid},#{orderid},#{type},#{code},#{propertyname},#{amount},#{updatetime},#{status})
    </insert>

    <select id="loadProperty" resultType="com.kingdom.pojo.Property">
        select * from property where orderId=#{orderId}
    </select>

    <select id="loadPropertyByCode" resultType="com.kingdom.pojo.Property">
        select * from property where signAccountId=#{signAccountId} and code=#{code}
    </select>

    <update id="updatePropertyAmount" >
        update property set amount=#{amount} ,updateTime=#{updateTime} where propertyId=#{propertyId}
    </update>

    <select id="selectPropertyByAccountNo" resultType="com.kingdom.pojo.Property">
        select *
        from property
        where signAccountId=#{accountno}
    </select>

    <update id="updatePropertyByOrederIdAndCode">
        update `property`
        set amount=#{amount}
        <where>
            <if test="orderid != null">
                orderId =  #{orderid,jdbcType=VARCHAR}
            </if>
            <if test="code!= null">
                AND code = #{code,jdbcType=VARCHAR}
            </if>
        </where>
    </update>
</mapper>