<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kingdom.dao.PropertyMapper">
    <insert id="insertProperty">
        insert into property (propertyId,userId,signAccountId,orderId,type,code,propertyName,amount,updateTime,status)
        values (#{propertyid},#{userid},#{signaccountid},#{orderid},#{type},#{code},#{propertyname},#{amount},#{updatetime},#{status})
    </insert>

    <select id="loadProperty" resultType="com.kingdom.pojo.Property">
        select * from property where orderId=#{orderId}
    </select>

    <select id="selectPropertyByAccountNo" resultType="com.kingdom.pojo.Property">
        select *
        from property
        where signAccountId=#{accountno}
    </select>
</mapper>