<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kingdom.dao.UserMapper">



    <select id="selectByIdDemo" resultType="com.kingdom.pojo.User" parameterType="java.lang.Integer">
        select
        *
        from `user`
        where userId = #{userid,jdbcType=INTEGER}
    </select>

    <select id="selectPasswordByEmailOrPhoneNumber" resultType="com.kingdom.pojo.User" parameterType="com.kingdom.pojo.User">
        select
        u.password
        from `user` u
        <where>
            <if test="email != null">
                u.email =  #{email,jdbcType=VARCHAR}
            </if>
            <if test="phonenumber!= null">
                AND u.phoneNumber = #{phonenumber,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>